<!doctype html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - webscraping</title>
    {% else %}
    <title>Webscraping</title>
    {% endif %}
  </head>
  <body>
	  <h1>Beautiful Soup - beautiful web scraping</h1>
	  <h2>Helping you extract metadata from websites.</h2>
	  <dir>Paste URLs:</dir>
   <form action="/download" method=post>
  <textarea name="urls"rows=10/>
  www.google.com
  www.msn.com
  www.yahoo.com
  </textarea><br/>
  <input type="submit" value="Download csv">
</form> 
{{urls}}
  </body>
</html>
