<!doctype html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - webscraping</title>
    {% else %}
    <title>Webscraping</title>
    {% endif %}
  </head>
  <body>
	  <h1>Beautiful Soup + flask + csv</h1>
	  <h2> = super easy website metadata extraction</h2>
	  <dir>Paste URLs:</dir>
   <form action="/download" method=post>
<textarea rows="20" cols="20" name="urls" >
www.google.com

https://www.msn.com

  www.yahoo.com
reddit.com/
youtube.com

wikipedia.org/

</textarea><br/>
  <input type="submit" value="Download csv">
</form> 
{{urls}}
  </body>
</html>
